* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.produtos, .carrinho {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

a{
    color: #4CAF50;
    text-decoration: dashed;
    
}

.produto {
    margin-bottom: 20px;
}

.produto h3 {
    font-size: 1.2rem;
}

.add-carrinho {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.add-carrinho:hover {
    background-color: #45a049;
}

.carrinho ul {
    list-style-type: none;
}

.carrinho li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.carrinho .total {
    margin-top: 20px;
    font-size: 1.2rem;
}

.carrinho .acoes button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.carrinho .acoes button:hover {
    background-color: #e53935;
}
